body{
    align-items: center;
    align-content: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.Joke-page{
    text-align: center;
   
}

.Title{
    text-align: center;
}